extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Send Email to Reset Your Password
      form.form.form--password
        .form__group
          label.form__label(for='email') Email address
          input#forgetEmail.form__input(type='email' placeholder='you@example.com', required)
        .form__group.forgetPassword
          button.btn.btn--green Send